<h1>HomePage</h1>
<!-- <p>Find me in app/views/pages/home.html.erb</p> -->

<!-- check the rails routes in order to check the path in the link and pages. -->
<%=link_to 'About', about_path%>

<!-- Takes you to a new article page -->
<%=link_to 'Create a New Article', new_article_path%>